<h1>Trivia Game</h1>

<div *ngIf="question.length > 0 && continue == true">
  <p>{{ question[0].question }}</p>
  <div *ngFor="let choice of choices">
    <input type="radio" name="answer" [(ngModel)]="selectedChoice" value="{{ choice }}">
    <label>{{ choice }}</label>
    </div>
    <button (click)="submitAnswers()">Submit Answers</button>
</div>

<div *ngIf="!continue">
  <div *ngIf="correctAnswer">
    <p>Correct! Click the button to continue.</p>
    <button (click)="refreshQuestion()">Next Question</button>
  </div>
  <div *ngIf="!correctAnswer">
    <p>Incorrect! the correct answer was: {{question[0].correct_answer }}</p>
    <p>Please click the button to try again.</p>
    <button (click)="restartTrivia()">Restart</button>
  </div>
</div>

<!-- <div *ngIf="question.length == 0">
  <p>questions not found</p>
</div> -->


<p> Total Count: {{ totalCount }}</p>
<p> Correct Count: {{ correctCount }}</p>
